body{
    display: flex;
      justify-content: center;  
      align-items: center;       
      height: 100vh;             
      margin: 0;
      background-color: #28d4ff;
}
#Pessoa {
      background-color: white;   
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;    
      align-items: center;       
      width: 300px;
}

#container{
      margin: 10px 0;
      padding: 8px;
      width: 80%;
 }
